<div id="header">
    <div>
        <div>
            <a href="index.html" class="logo">
                <img src="{{ "/images/logo.png" | prepend: site.baseurl }}"
                     alt="{{ site.title }}">
            </a>
            <ul>
                <li>
                    <a href="index.html" id="menu1">home</a>
                </li>
                <li>
                    <a href="brews.html" id="menu2">brews</a>
                </li>
                <li>
                    <a href="blog.html" id="menu3">blog</a>
                </li>
                <li>
                    <a href="about.html" id="menu4">about</a>
                </li>
                <li>
                    <a href="contact.html" id="menu5">contact</a>
                </li>
            </ul>
        </div>
    </div>
</div>
