<div id="header">
    <div>
        <div>
            <a href="index.html" class="logo">
                <img src="{{ "/images/logo.png" | prepend: site.baseurl }}"
                     alt="{{ site.title }}">
            </a>
            <ul>
                <li>
                    <a href="{{ "/" | prepend:  site.baseurl }}" id="menu1">
                        home
                    </a>
                </li>
                <li>
                    <a href="{{ "/brews/" | prepend: site.baseurl }}" id="menu2">
                        brews
                    </a>
                </li>
                <li>
                    <a href="{{ "/blog.html" | prepend: site.baseurl }}" id="menu3">
                        blog
                    </a>
                </li>
                <li>
                    <a href="{{ "/about.html" | prepend: site.baseurl }}" id="menu4">
                        about
                    </a>
                </li>
                <li>
                    <a href="{{ "/contact.html" | prepend: site.baseurl }}" id="menu5">
                        contact
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
