---
layout: default
---

<div class="featured">
    <img src="{{ "/images/featured-card.png" | prepend: site.baseurl }}" alt="">
</div>
<div class="section">
    <div>
        {{content}}
    </div>
    <div>
        <h3>want list</h3>
        <div>
            <a href="games.html" class="figure"><img src="{{ "/images/want.jpg" | prepend: site.baseurl }}" alt=""></a>
            <span><a href="games.html">a.k.a. Beloved Treasures</a></span>
        </div>
    </div>
    <div>
        <h3>have list</h3>
        <div>
            <a href="media.html" class="figure"><img src="{{ "/images/have.jpg" | prepend: site.baseurl }}" alt=""></a>
            <span><a href="media.html">a.k.a. Deepest Desires</a></span>
        </div>
    </div>
</div>
